<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Profile Page</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/landing-page.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

  <!-- Page Content -->

  <a  name="services"></a>
  <div class="content-section-a">

    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <form action="/updateaccount", method="POST">
            <div class="form-group row">
              <label for="example-email-input" class="col-2 col-form-label">Email</label>
              <div class="col-10">
                <input class="form-control" type="email" value="<%= email %>" id="email" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-url-input" class="col-2 col-form-label">Username</label>
              <div class="col-10">
                <input class="form-control" type="text" value="<%= username %>" id="username" readonly>
              </div>
            </div>
            <div class="form-group row">
            <label for="example-select-input" class="col-2 col-form-label">Team</label>
            <div class="col-10">
              <select class="form-control" id="team" readonly>
                <option value="1" <%= team===1?"selected":'' %> >1: SRX</option>
                <option value="2" <%= team===2?"selected":'' %> >2: ATX</option>
                <option value="3" <%= team===3?"selected":'' %> >3: The School</option>
                <option value="4" <%= team===4?"selected":'' %> >4: The Aggressors</option>
                <option value="5" <%= team===5?"selected":'' %> >5: Aliens</option>
                <option value="6" <%= team===6?"selected":'' %> >6: Team Tank</option>
              </select>
            </div>
          </div>
            <div class="form-group row">
              <label for="example-password-input" class="col-2 col-form-label">Current Password</label>
              <div class="col-10">
                <input class="form-control" type="password" value="" id="oldPassword" readonly>
              </div>
            </div>
            <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">New Password</label>
            <div class="col-10">
              <input class="form-control" type="password" value="" id="password" readonly>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Reenter Password</label>
            <div class="col-10">
              <input class="form-control" type="password" value="" id="password2" readonly>
            </div>
          </div>
          <button id="unlock" type="button" class="btn btn-default">Change Info</button>
          <button id="save" type="submit" class="btn btn-success">Save</button>
          <br>
            <a id='btn-login' class="btn btn-default btn-lg" onclick="location.href='./game'">Game Lobby</span></a>
            <br>
            <a id='btn-login' class="btn btn-default btn-lg" onclick="location.href='./game.1.html'">Game Lobby New Testt</span></a>
        </form>
      </div>
      <!-- /.container -->


    </div>
    <a  name="contact"></a>
    <div class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <h2>Check out the code:</h2>
          </div>
          <div class="col-lg-6">
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="https://github.com/MagentaReds/project-3-srw-multiplayer" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Status Modal -->
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Update Account Result</h4>
          </div>
          <div class="modal-body">
            <span class="message"></span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/profile.js"></script>

  </body>

  </html>
